* {
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  font-size: 120%;
}

h1, h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p, ul, li {
  font-family: "Georgia", Times, serif;
}

li {
  line-height: 1.5;
  margin-bottom: 20px;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  background-color: #fff;
}

.row {
  display: inline-block;
  width: 100%;
}

.personal-data {
  float: left;
}

.profile-image {
  width: 100%;
  max-width: 400px;
  float: right;
}
