* {
  box-sizing: border-box;
}

body {
  background: #ccc;
  color: #000;
}

h1 {
  color: purple;
  text-decoration: underline;
}

.content {
  display: inline-block;
  width: 100%;
  padding: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

.content-left {
  float: left;
  width: 50%;
  padding-right: 20px;
}

.content-right {
  float: right;
  width: 50%;
  padding-left: 20px;
}
